.mat-tab-group {
    margin-bottom: 48px;
  }

h1 {
    text-align: center;
    color: rgb(248, 251, 247);
    background-color: green;
  }
  
  .example-card {
    max-width: 400px;

  }
  
  .example-header-image {
    background-image: url('https://s-media-cache-ak0.pinimg.com/736x/54/c8/4f/54c84f1e1bab9f7a44eced45bf158710.jpg');
    background-size: cover;
  }

h2 {
    color: cadetblue;
    font-weight: bolder;
}